.navbar {
    color: var(--primary-text-color);
    padding: 10px 0;
}

.navbar a {
    color: var(--primary-text-color);
    padding: 10px 15px;
    display: inline-block;
}

.navbar a:hover {
    background: var(--hoovering-color);
    border-radius: 4px;
    text-decoration: none;
    color: var(--secondary-text-color)
}

.navbar-container {
    background: var(--primary-background-color);
    color: var(--primary-text-color);
    display: flex;
    font-family: 'Press Start 2P', cursive;
}

.navbar-title {
    vertical-align: center;
    font-weight: bold;
    margin-left: 10vw;
    align-items: center;
    color: var(--primary-text-color);
    width: 50vw;
    height: 10vh;
}

.navbar-menu {
    text-align: center;
    justify-content: right;
    align-items: center;
    margin-right: 10vw;
    width: 50vw;
    height: 10vh;
}

.mobile-navbar-menu {
    width: 40vw;
    direction: rtl;
}

.mobile-navbar-icon {
    width: 10vw;
    display: flex;
    align-items: top;
    justify-content: center;
}

.mobile-navbar-menu-list.active {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.mobile-navbar-menu-list {
    display: none;
}

.mobile-navbar-menu-icon {
    background-color: var(--primary-background-color);
    color: var(--hoovering-color);
    float: right;
    margin-right: 15vw;
    display: flex;
    border-radius: 0px;
    border-color: var(--primary-background-color);
    border-width: 1px;
    border-style: solid;
}

.mobile-navbar-menu-icon.active {
    background-color: var(--primary-background-color);
    color: var(--hoovering-color);
}

.mobile-navbar-links {
    text-decoration: none;
    color: var(--primary-text-color);
    cursor: pointer;
}

.mobile-navbar-links:hover {
    color: var(--secondary-text-color);
}

.mobile-navbar-empty {
    width: 100%;
    height: 10vh;
}