.projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2vw;
    font-family: 'Press Start 2P', cursive;
    background-color: var(--primary-background-color);
    color: var(--primary-text-color);
}

.projects h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
    text-align: center;
    color: var(--paragraph-title-text-color);
}
.mobile-projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2vw;
    text-align: center;
    font-family: 'Press Start 2P', cursive;
    background-color: var(--primary-background-color);
    color: var(--primary-text-color);
    margin-left: 5vw;
    margin-right: 5vw;
    padding: 1vw;
}

.mobile-projects h2 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    text-align: center;
    color: var(--paragraph-title-text-color);
    margin-left: 1vw;
    margin-right: 1vw;
}